:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --sacondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --sacondary-background-color: #e5e5e5;
  --footer-bacground-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.item > img {
  display: block;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  margin-right: 93px;
}
.header-logo-design {
  color: var(--accent-color);
}
/* .logo:hover,
.logo:focus {
  color: var(--accent-color);
} */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.advantage-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  outline: 1px solid tomato;
  width: 1200px;
  padding: 94px 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Навигация */

.header {
  background-color: var(--white-color);
}

.header-site-nav .link:hover,
.header-site-nav .link:focus,
.header-site-auth .link:hover,
.header-site-auth .link:focus,
.futer-item .link:hover,
.futer-item .link:focus {
  color: var(--accent-color);
}

.header-site-nav,
.header-site-auth,
.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0pt;
}

.header-site-nav {
  padding-left: 0px;
}

.header-site-auth {
  padding-left: 0px;
  margin-left: auto;
}

.header-site-nav .item,
.header-site-auth .item {
  border: 1px solid tomato;
}
.header-site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.header-site-auth .item:not(:last-child) {
  margin-right: 30px;
}

.header-site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-site-nav .link.header-current {
  color: var(--accent-color);
}

.header-site-auth .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Герой */
.hero-container-main {
  background-color: var(--footer-bacground-color);
}
.hero-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0pt;
}
.hero-title {
  display: block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  padding-bottom: 30px;
}

.hero-primary-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  border: 0px solid transparent;
}
.hero-primary-button:hover {
  background-color: #188ce8;
}

/* Преимущества */
.advantage-main {
  background-color: var(--white-color);
}

.advantage {
  padding-bottom: 0px;
}
.advantage-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantage .list {
  display: flex;
  align-items: center;
}
.advantage .list .item {
  min-width: calc((100% - 90) / 4);
}
.advantage .list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* Чем мы занимаемся */
.directions-main {
  background-color: var(--white-color);
}
.directions .list {
  display: flex;
  align-items: center;
}
.directions .list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.directions-photo {
  display: block;
}
.section-title {
  margin-bottom: 50px;
}
/* Наша команда */
.our-team-main {
  background-color: var(--primary-background-color);
}
.our-team .list {
  display: flex;
  text-align: center;
}
.our-team .list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.our-team .our-team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.our-team .our-team-position {
  font-size: 16px;
  line-height: 1.19;
}
.our-team-photo {
  margin-bottom: 30px;
}
.our-team-employee {
  margin-bottom: 10px;
}

/* Футер */
.footer-main {
  background-color: var(--footer-bacground-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.footer-logo-design {
  color: var(--accent-color);
}
.footer.container > a {
  margin-bottom: 20px;
}

.footer-contact .futer-item {
  margin-top: 20px;
}

.footer-contact {
  font-style: normal;
}

.futer-item .link {
  color: var(--sacondary-white-color);
}
.footer-contact .contact-location {
  color: var(--white-color);
}

/* Кнопки */

.sacondary-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero-primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.sacondary-button {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}

/* Портфолио */

/* Галерея */

.gallery-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.item .title-works {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: yellow; */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.item .kind-works {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* background-color: royalblue; */
  font-size: 16px;
  line-height: 1.88;
}
.gallery-photo {
  display: block;
  margin-bottom: 20px;
}
